.StreamPlayerApp {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto 0;
}

.StreamPlayerApp video {
  width: 100%;
}

.ErrorMessage {
  height: 50px;
  line-height: 50px;
  border: 1px solid #B71C1C;
  color: #B71C1C;
  background-color: #FFCDD2;
  font-size: 18px;
  font-weight: bolder;
  padding: 0 10px;
  margin-bottom: 30px;
}

.URLPicker {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.URLPicker .Input {
  width: 500px;
  font-size: 24px;
  margin-left: 20px;
}

.Button {
  font-size: 20px;
  background-color: #E0E0E0;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.Button:hover {
  background-color: #BDBDBD;
}

.VideoInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.VideoInfo .InfoItem {
  flex: 1;
  text-align: center;
}

.VideoInfo .InfoKey {
  font-size: 20px;
  margin: 0 0 10px;
}

.VideoInfo .InfoValue {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}